<router-outlet></router-outlet>
<div style="background: url(../assets/img/home.jpg); height: 1000px; display:block; overflow: auto;">
    <div class="row" style="height: 250px;">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-4" style="font-size: 40px; text-align: right; color: white; font-weight: bold;"> Que nada te detenga, haz tus sueños realidad</div>
    </div>

    <div class="row">
        <div class="col-lg-6" style="text-align: right;">
            <button (click)="solicitaPrestamoClick()">¡Solicita un préstamo!</button>
        </div>
        <div class="col-lg-6">
            <button>¡Financia proyectos!</button>
        </div>
    </div>
</div>