<div class="container">
  <mat-toolbar>
    <span>Buscar solicitudes de crédito</span>
  </mat-toolbar>
  <div class="search-section">
    <form class="search-form">
      <mat-grid-list cols="4" rowHeight='5em'>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="DNI">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Estado">
              <mat-option value="">Estado</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Tipo de préstamo">
              <mat-option value="">Tipo de préstamo</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="dateFrom" placeholder="Desde">
            <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
            <mat-datepicker #dateFrom></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput [matDatepicker]="dateTo" placeholder="Hasta">
            <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
            <mat-datepicker #dateTo></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.code}} </mat-cell>
        </ng-container>
        <!-- Candidate Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Solicitante </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
        </ng-container>
        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
          <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.dni}} </mat-cell>
        </ng-container>
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.amount}} </mat-cell>
        </ng-container>
        <!-- date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.date | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <!-- period Column -->
        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef> Plazo </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.period}} </mat-cell>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.status}} </mat-cell>
        </ng-container>
        <!-- penTEA Column -->
        <ng-container matColumnDef="penTea">
          <mat-header-cell *matHeaderCellDef> TEA (Sol.) </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.penTea}} </mat-cell>
        </ng-container>
        <!-- finalTEA Column -->
        <ng-container matColumnDef="finalTea">
          <mat-header-cell *matHeaderCellDef> TEA (Final) </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.finalTea}} </mat-cell>
        </ng-container>
        <!-- operation Column -->
        <ng-container matColumnDef="operations">
          <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <div class="button-row">
              <button mat-icon-button routerLink="."><mat-icon>insert_invitation</mat-icon></button>
              <button mat-icon-button routerLink="."><mat-icon>mode_edit</mat-icon></button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
