<div class="container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<h4>Solicitud de crédito N° {{ documentId  }}</h4>
<div class="tab-section">
  <div class="content" *ngIf="showChildView">
    <router-outlet></router-outlet>
  </div>
  <div class="actions">
    <mat-list>
      <mat-list-item> <button mat-raised-button color="primary" (click)="save()">Grabar</button> </mat-list-item>
      <mat-list-item *ngIf="showCancelButton"><button mat-raised-button color="primary" (click)="openModal(template)">Cancelar</button></mat-list-item>
      <mat-list-item> <button mat-raised-button (click)="goSearch()">Salir</button> </mat-list-item>
    </mat-list>
  </div>
</div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cancelar Solicitud</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Motivo de cancelacion</label>
        <select class="form-control" [(ngModel)]="reason">
          <option [value]="0" disabled>--Seleccione--</option>
          <option *ngFor="let item of reasonList" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cancelProcess()" [disabled]="!reason">Si</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
