<div class="form-general">
  <form class="information-form">
    <h3>Datos de la solicitud</h3>
    <mat-grid-list cols="2" rowHeight='5em'>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Monto solicitado">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Destino de crédito">
            <mat-option *ngFor="let item of creditDestinationList" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <mat-form-field>
            <textarea matInput placeholder="Detalles del motivo del préstamo"></textarea>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Plazo del préstamo(meses)">
            <mat-option value="">DNI</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Seguro de desgravamen">
            <mat-option value="">DNI</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <label>¿Es una persona politicamente expuesta (PEP) o familiar de una?</label>
        <mat-radio-group>
          <mat-radio-button value="M">Masculino</mat-radio-button>
          <mat-radio-button value="F">Femenino</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <textarea matInput placeholder="Posición que ocupa"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
